.form-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 160.19%;
  border-bottom: 3px solid #f0b90b;
  padding: 10px 0 4px 16px;
  color: #ffffff;
}

.form-balance {
  display: block;

  font-family: Noto Sans;
  padding: 10px 0 4px 16px;
  font-weight: 500;
  font-size: 48px;
  color: #ffffff;
}

.box {
  padding: 15px;
}

.l {
  color: #f0b90b;
  font-size: 14px;
}
.b {
  color: #ffffff;
  font-size: 14px;
}
