.form2 {
  padding: 30px;

  color: #f0b90b;
  border-radius: 10px;
  /* border: 1px solid #abffff; */
}

.form2 h4 {
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  line-height: 16px;
  text-transform: capitalize;
}
.form2 p {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.numberSpan {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;

  color: #f0b90b;
}
.textSpan {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: #ffffff;
}
.styledtext {
  color: #010a35;
  font-size: 14px;
}
