.wbutton {
  width: 100%;

  background: linear-gradient(320.66deg, #27292b 14.75%, #17191b 84.81%);

  border-radius: 20px;

  color: #ffffff;
  border: 2px solid #27292b;
  text-align: center;
  padding: 10px 55px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 7px;
  font-size: 14px;
}

.rbutton {
  width: 100%;

  background: linear-gradient(320.66deg, #27292b 14.75%, #17191b 84.81%);

  border-radius: 20px;

  color: #f0b90b;
  border: 2px solid #27292b;
  text-align: center;
  padding: 10px 55px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 7px;
  font-size: 14px;
}

.labelButton {
  color: #010a35;
  cursor: pointer;
  display: inline;

  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
