.form {
  padding: 30px;
  background: #17191c;
  color: #f0b90b;
  border-radius: 10px;
  /* border: 1px solid #abffff; */
  margin-bottom: 20px;
}

.form h4 {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.form p {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.numberSpan {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  padding: 0 !important;
  color: #f0b90b;
}
.textSpan {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #313131;
}
.styledtext {
  color: #010a35;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .numberSpan {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    padding: 0 !important;
    color: #f0b90b;
  }
}
